<!DOCTYPE html>
<html>
    <head>
        <title>Add Tasks</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    </head>
    <body>
        <nav>
            <a href="{% url 'tasks:add' %}">Add new Task</a>
            <a href="{% url 'tasks:index' %}">View Tasks</a>
        </nav>
        {% block content %}
        
        {% endblock %}
    </body>
</html>